.idea/
attention/.ipynb_checkpoints/
attention/__pycache__/
text_cls/util/__pycache__/
pytorch_light/MNIST/
pytorch_light/lightning_logs/
text_cls/data/other/
text_cls/data/original_dataset/
text_cls/__pycache__/
text_cls/data/__pycache__/
text_cls/data/*.csv
*.docx
text_cls/data/other/
text_cls/data/original_dataset/
